In [1]:
# 01_Data_Analysis Notebook
# This notebook focuses on quick data interpretations and representations through tables and means.

# Import necessary libraries
import sys
import os
import pandas as pd
# Ensure the src directory is in the Python path

# Only prepare data if it hasn't been cleaned yet visualizes data, focusing on mean nitrogen concentration over the years and spatial distribution
cleaned_data_path = '../data/cleaned_water_quality.csv'
if not os.path.exists(cleaned_data_path):
    from src.prepare_data import prepare_data
    prepare_data()
    print("Data prepared and cleaned.")
else:
    print("Cleaned data already exists. Proceeding with analysis.")

# Load cleaned data
data = pd.read_csv(cleaned_data_path, parse_dates=['date'])

from src.analysis import calculate_mean_concentration_by_year

# Calculate the mean nitrogen concentration by year
mean_concentration = calculate_mean_concentration_by_year(data)

# Display the data types and summary statistics
display(data.describe())

# Display the calculated mean concentrations
display(mean_concentration)

2024-08-18 17:52:29,513 - INFO - Mean concentration calculated by year

Cleaned data already exists. Proceeding with analysis.

,date,lat,lon,NO23,year
count,24576,24576.000000,24576.000000,24576.000000,24576.000000
mean,2012-03-17 20:40:39.843750144,27.874843,-82.553652,0.031775,2011.713298
min,1995-11-20 00:00:00,27.481117,-82.783203,0.001000,1995.000000
25%,2005-10-26 00:00:00,27.778000,-82.633530,0.009000,2005.000000
50%,2012-06-04 00:00:00,27.908899,-82.570195,0.013000,2012.000000
75%,2019-02-19 00:00:00,27.982100,-82.474098,0.034000,2019.000000
max,2022-11-29 00:00:00,28.181779,-82.281972,0.177000,2022.000000
std,NaN,0.152874,0.108873,0.039105,7.223996

year
1995    0.020929
1996    0.016651
1997    0.037760
1998    0.034673
1999    0.022654
2000    0.016174
2001    0.017004
2002    0.017090
2003    0.023205
2004    0.025375
2005    0.031902
2006    0.033103
2007    0.026163
2008    0.027930
2009    0.037209
2010    0.051059
2011    0.042344
2012    0.051681
2013    0.045816
2014    0.053584
2015    0.044178
2016    0.046956
2017    0.033543
2018    0.028840
2019    0.027807
2020    0.026284
2021    0.026653
2022    0.039108
Name: NO23, dtype: float64